* {
  box-sizing: border-box;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    font-size: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    font-size: 36px;
  }
}

.word {
  animation: slide-in 1s ease-out;
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
  font-family:"Lucida Console", "Courier New", monospace;
  color: #7557ce;
}


body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}
.header h1 {
  font-size: 50px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Crie duas colunas desiguais que flutuem uma ao lado da outra */
/* Left column */
.leftcolumn {   
  float: left;
  width: 60% ;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 40%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
/* Fake image */
.fakeimg {
  background-color: white;
  width: 100%;
  padding: 20px;
}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
/* Limpar floats após as colunas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
/* Layout responsivo - quando a tela tiver menos de 800px de largura, empilhe as duas colunas uma sobre a outra em vez de uma ao lado da outra */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
/* Layout responsivo - quando a tela tem menos de 400px de largura, faz os links de navegação empilharem um sobre o outro ao invés de um ao lado do outro */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
 img {
  border-radius: 8px;
}
.borda { 
  border-radius: 50%;
}

.ez-toc-title {
  animation: slide-in 1s ease-out;
  font-weight: 800;
  font-size: 44px;
  line-height: 120%;
  color: #2F1C6A;
  padding-bottom: 30px;
}

.ez-toc-destaque {
  font-weight: 790;
  font-size: 38px;
  line-height: 120%;
  color: #2F1C6A;
  padding-bottom: 30px;
}

.ez-min-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
  font-family:"Lucida Console", "Courier New", monospace;
  color: #7557ce;
}

.ez-min-title-exp {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  font-family:"Lucida Console", "Courier New", monospace;
  color: #602f67;
}

.ez-min-desc {
  font-weight: 600;
  font-size: 20px;
  font-family:"Lucida Console", "Courier New", monospace;
  line-height: 120%;
  color: #7557ce;
  margin-right: 50px;
  padding-bottom: 30px;
}

.ez-min-inf {
  font-weight: 550;
  font-size: 20px;
  font-family:"Lucida Console", "Courier New", monospace;
  line-height: 120%;
  color: #000000;

}


.ez-min-contat {
  font-weight: 620;
  font-size: 15px;
  line-height: 120%;
  color: #000000;

}

.ez-min-inf-ord {
  font-weight: 600;
  font-size: 15px;
  line-height: 5%;
  color: #000000;
  padding-bottom: 30px;
}


h1, h2{
  font-size: 10px;
  font-family: 'Muli',sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2F1C6A;
}

.containerLado {
  display: flex;
}

.ContainerText {
  flex: 1;
  margin-right: 20px;
}

.elemento {
  margin-bottom: 50px;
  font-size: 100;
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}